{% extends 'base.html' %}

{% block content %}
  Program powstal jako praca dyplomowa na studiach podyplomowych Python Developer na WSB Merito w Gdansku.
<br> Jest to pierwsza wersja aplikacji i w planach sa nastepne wersje rozszerzajace funkcjonalnosc.
<br>
Sluzy do logowania zdarzen z roznych zasobow (sekcja ZASOBY) przez RESTAPI i wyswietlania ich w tabeli ZDARZENIA.
<br>
RESTAPI obsluguje ENDPOINT /api_zdarzenie/. Za jego pomoca mozna wywolac fukcje GET i POST. RestAPI wymienia dane w formacie JSON.
{% endblock content %}
